.navbardiv {
  margin-top: -10px;
  margin-left: 0px;
}

.navbarimg_def, .navbarimg_me, .navbarimg_blog, .navbarimg_skills, .navbarimg_work, .navbarimg_contact {
  position: fixed;
  width: 100%;
}

.maindiv {
  margin-top: -5px;
}

.mainnavbarimg_def, .mainnavbarimg_me, .mainnavbarimg_blog, .mainnavbarimg_skills, .mainnavbarimg_work, .mainnavbarimg_contact {
  opacity: 0;
  width: 100%;
}

/* Main image behind the text with z index */
.mainimg_def, .mainimg_me, .mainimg_blog, .mainimg_skills, .mainimg_work, .mainimg_contact {
  position: fixed;
  width: 100%;
  z-index: -1;
}

/* Class aspects for all buttons*/
.nav_but {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
  position: fixed;
  background: rgba(212, 193, 105, 0);
  border: none !important;
  font-size: 0;
}

/* stops Button border on click*/
.nav_but:focus {
  outline: 0;
}

/* button glow */
.nav_but:hover {
  color: #ffffff;
  background: rgba(212, 193, 105, 0.2);
  -webkit-box-shadow: 0px 0px 10px 10px rgba(212, 193, 105, 0.2);
          box-shadow: 0px 0px 10px 10px rgba(212, 193, 105, 0.2);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

/* Background setup for each page */
/* Using orientation to pick screen type*/
/* Navbar buttons also move arround in relation to the "background" pics*/
/* a CSS file is needed for each of the nav pages as the portrait pages buttons move around.*/
@media (orientation: landscape) and (min-width: 1921px) {
  /*diforent img for this diforent pages*/
  .navbarimg_def, .mainnavbarimg_def {
    content: url("/img/Folder_blog_3440x1440_Top.jpg");
  }
  .mainimg_def {
    content: url("/img/Folder_blog_3440x1440_Bot.jpg");
  }
  .mainimg_blog {
    content: url("/img/Blank_Background_3440x1440.jpg");
  }
  .navbarimg_me, .mainnavbarimg_me {
    content: url("/img/Folder_me_3440x1440_Top.jpg");
  }
  .mainimg_me {
    content: url("/img/Folder_me_3440x1440_Bot.jpg");
  }
  .navbarimg_blog, .mainnavbarimg_blog {
    content: url("/img/Folder_blog_3440x1440_Top.jpg");
  }
  .mainimg_blog {
    content: url("/img/Folder_blog_3440x1440_Bot.jpg");
  }
  .navbarimg_skills, .mainnavbarimg_skills {
    content: url("/img/Folder_skills_3440x1440_Top.jpg");
  }
  .mainimg_skills {
    content: url("/img/Folder_skills_3440x1440_Bot.jpg");
  }
  .navbarimg_work, .mainnavbarimg_work {
    content: url("/img/Folder_work_3440x1440_Top.jpg");
  }
  .mainimg_work {
    content: url("/img/Folder_work_3440x1440_Bot.jpg");
  }
  .navbarimg_contact, .mainnavbarimg_contact {
    content: url("/img/Folder_contact_3440x1440_Top.jpg");
  }
  .mainimg_contact {
    content: url("/img/Folder_contact_3440x1440_Bot.jpg");
  }
  #def_nav_me, #me_nav_me, #blog_nav_me, #skills_nav_me, #work_nav_me, #contact_nav_me {
    left: 29%;
    width: 9%;
    top: 55px;
    height: 110px;
  }
  #def_nav_blog, #me_nav_blog, #blog_nav_blog, #contact_nav_blog, #skills_nav_blog, #work_nav_blog {
    left: 39%;
    width: 9%;
    top: 55px;
    height: 110px;
  }
  #def_nav_skills, #me_nav_skills, #blog_nav_skills, #contact_nav_skills, #skills_nav_skills, #work_nav_skills {
    left: 48.5%;
    width: 9%;
    top: 55px;
    height: 110px;
  }
  #def_nav_work, #me_nav_work, #blog_nav_work, #contact_nav_work, #skills_nav_work, #work_nav_work {
    left: 58%;
    width: 9%;
    top: 55px;
    height: 110px;
  }
  #def_nav_contact, #me_nav_contact, #blog_nav_contact, #contact_nav_contact, #skills_nav_contact, #work_nav_contact {
    left: 67.5%;
    width: 9%;
    top: 55px;
    height: 110px;
  }
}

@media (orientation: landscape) and (max-width: 1920px) {
  .navbarimg_def, .mainnavbarimg_def {
    content: url("/img/Folder_blog_1080p_Top.jpg");
  }
  .mainimg_def {
    content: url("/img/Folder_blog_1080p_Bot.jpg");
  }
  .mainimg_blog {
    content: url("/img/Blank_Background_1080p.jpg");
  }
  .navbarimg_me, .mainnavbarimg_me {
    content: url("/img/Folder_me_1080p_Top.jpg");
  }
  .mainimg_me {
    content: url("/img/Folder_me_1080p_Bot.jpg");
  }
  .navbarimg_blog, .mainnavbarimg_blog {
    content: url("/img/Folder_blog_1080p_Top.jpg");
  }
  .mainimg_blog {
    content: url("/img/Folder_blog_1080p_Bot.jpg");
  }
  .navbarimg_skills, .mainnavbarimg_skills {
    content: url("/img/Folder_skills_1080p_Top.jpg");
  }
  .mainimg_skills {
    content: url("/img/Folder_skills_1080p_Bot.jpg");
  }
  .navbarimg_work, .mainnavbarimg_work {
    content: url("/img/Folder_work_1080p_Top.jpg");
  }
  .mainimg_work {
    content: url("/img/Folder_work_1080p_Bot.jpg");
  }
  .navbarimg_contact, .mainnavbarimg_contact {
    content: url("/img/Folder_contact_1080p_Top.jpg");
  }
  .mainimg_contact {
    content: url("/img/Folder_contact_1080p_Bot.jpg");
  }
  #def_nav_me, #me_nav_me, #blog_nav_me, #skills_nav_me, #work_nav_me, #contact_nav_me {
    left: 22%;
    width: 13%;
    top: 50px;
    height: 80px;
  }
  #def_nav_blog, #me_nav_blog, #blog_nav_blog, #contact_nav_blog, #skills_nav_blog, #work_nav_blog {
    left: 35.5%;
    width: 13%;
    top: 50px;
    height: 80px;
  }
  #def_nav_skills, #me_nav_skills, #blog_nav_skills, #contact_nav_skills, #skills_nav_skills, #work_nav_skills {
    left: 49%;
    width: 13%;
    top: 50px;
    height: 80px;
  }
  #def_nav_work, #me_nav_work, #blog_nav_work, #contact_nav_work, #skills_nav_work, #work_nav_work {
    left: 61%;
    width: 11%;
    top: 50px;
    height: 80px;
  }
  #def_nav_contact, #me_nav_contact, #blog_nav_contact, #contact_nav_contact, #skills_nav_contact, #work_nav_contact {
    left: 72%;
    width: 10%;
    top: 50px;
    height: 80px;
  }
}

@media (orientation: portrait) and (min-width: 751px) {
  .navbarimg_def, .mainnavbarimg_def {
    content: url("/img/Folder_blog_MobBig_Top.jpg");
  }
  .mainimg_def {
    content: url("/img/Folder_blog_MobBig_Bot.jpg");
  }
  .mainimg_blog {
    content: url("/img/Blank_Background_MobBig.jpg");
  }
  .navbarimg_me, .mainnavbarimg_me {
    content: url("/img/Folder_me_MobBig_Top.jpg");
  }
  .mainimg_me {
    content: url("/img/Folder_me_MobBig_Bot.jpg");
  }
  .navbarimg_blog, .mainnavbarimg_blog {
    content: url("/img/Folder_blog_MobBig_Top.jpg");
  }
  .mainimg_blog {
    content: url("/img/Folder_blog_MobBig_Bot.jpg");
  }
  .navbarimg_skills, .mainnavbarimg_skills {
    content: url("/img/Folder_skills_MobBig_Top.jpg");
  }
  .mainimg_skills {
    content: url("/img/Folder_skills_MobBig_Bot.jpg");
  }
  .navbarimg_work, .mainnavbarimg_work {
    content: url("/img/Folder_work_MobBig_Top.jpg");
  }
  .mainimg_work {
    content: url("/img/Folder_work_MobBig_Bot.jpg");
  }
  .navbarimg_contact, .mainnavbarimg_contact {
    content: url("/img/Folder_contact_MobBig_Top.jpg");
  }
  .mainimg_contact {
    content: url("/img/Folder_contact_MobBig_Bot.jpg");
  }
  #def_nav_me, #me_nav_me, #blog_nav_me, #skills_nav_me, #work_nav_me, #contact_nav_me {
    left: 60%;
    width: 24%;
    top: 95px;
    height: 60px;
  }
  #def_nav_blog, #me_nav_blog, #blog_nav_blog, #contact_nav_blog, #skills_nav_blog, #work_nav_blog {
    left: 35.5%;
    width: 24%;
    top: 95px;
    height: 60px;
  }
  #def_nav_skills, #me_nav_skills, #blog_nav_skills, #contact_nav_skills, #skills_nav_skills, #work_nav_skills {
    left: 85%;
    width: 24%;
    top: 65px;
    height: 75px;
  }
  #def_nav_work, #me_nav_work, #blog_nav_work, #contact_nav_work, #skills_nav_work, #work_nav_work {
    left: 35.5%;
    width: 24%;
    top: 30px;
    height: 60px;
  }
  #def_nav_contact, #me_nav_contact, #blog_nav_contact, #contact_nav_contact, #skills_nav_contact, #work_nav_contact {
    left: 60%;
    width: 24%;
    top: 30px;
    height: 60px;
  }
}

@media (orientation: portrait) and (max-width: 750px) {
  .navbarimg_def, .mainnavbarimg_def {
    content: url("/img/Folder_blog_MobSmall_Top.jpg");
  }
  .mainimg_def {
    content: url("/img/Folder_blog_MobSmall_Bot.jpg");
  }
  .mainimg_blog {
    content: url("/img/Blank_Background_MobSmall.jpg");
  }
  .navbarimg_me, .mainnavbarimg_me {
    content: url("/img/Folder_me_MobSmall_Top.jpg");
  }
  .mainimg_me {
    content: url("/img/Folder_me_MobSmall_Bot.jpg");
  }
  .navbarimg_blog, .mainnavbarimg_blog {
    content: url("/img/Folder_blog_MobSmall_Top.jpg");
  }
  .mainimg_blog {
    content: url("/img/Folder_blog_MobSmall_Bot.jpg");
  }
  .navbarimg_skills, .mainnavbarimg_skills {
    content: url("/img/Folder_skills_MobSmall_Top.jpg");
  }
  .mainimg_skills {
    content: url("/img/Folder_skills_MobSmall_Bot.jpg");
  }
  .navbarimg_work, .mainnavbarimg_work {
    content: url("/img/Folder_work_MobSmall_Top.jpg");
  }
  .mainimg_work {
    content: url("/img/Folder_work_MobSmall_Bot.jpg");
  }
  .navbarimg_contact, .mainnavbarimg_contact {
    content: url("/img/Folder_contact_MobSmall_Top.jpg");
  }
  .mainimg_contact {
    content: url("/img/Folder_contact_MobSmall_Bot.jpg");
  }
  #def_nav_me, #me_nav_me, #blog_nav_me, #skills_nav_me, #work_nav_me, #contact_nav_me {
    left: 60%;
    width: 24%;
    top: 60px;
    height: 30px;
  }
  #def_nav_blog, #me_nav_blog, #blog_nav_blog, #contact_nav_blog, #skills_nav_blog, #work_nav_blog {
    left: 35.5%;
    width: 24%;
    top: 60px;
    height: 30px;
  }
  #def_nav_skills, #me_nav_skills, #blog_nav_skills, #contact_nav_skills, #skills_nav_skills, #work_nav_skills {
    left: 85%;
    width: 24%;
    top: 45px;
    height: 50px;
  }
  #def_nav_work, #me_nav_work, #blog_nav_work, #contact_nav_work, #skills_nav_work, #work_nav_work {
    left: 35.5%;
    width: 24%;
    top: 20px;
    height: 40px;
  }
  #def_nav_contact, #me_nav_contact, #blog_nav_contact, #contact_nav_contact, #skills_nav_contact, #work_nav_contact {
    left: 60%;
    width: 24%;
    top: 20px;
    height: 30px;
  }
}

/*Work display divs */
.mainpage {
  margin: auto;
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  width: 60%;
}

.titles {
  font-family: 'Source Code Pro', monospace;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.work_display_div {
  display: none;
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: rgba(65, 64, 64, 0.671);
  margin-top: 20px;
  color: white;
}

ul {
  cursor: pointer;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2;
  color: white;
}

li {
  float: left;
  margin: 2px;
  /*border:1px solid rgba(0, 0, 0, 0.5);   "Broken" ??? */
  background-color: rgba(65, 64, 64, 0.671);
}

li:last-child {
  border-right: none;
}

li a {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

.activeworkbar {
  background-color: rgba(10, 177, 94, 0.2);
}

li a:hover:not(.activeworkbar) {
  background-color: rgba(0, 0, 0, 0.5);
}

/*contact page*/
#contact_email_icon {
  content: url("/img/icon_email_120.png");
}

#contact_github_icon {
  content: url("/img/icon_github_120.png");
}

#contact_linkedin_icon {
  content: url("/img/icon_linkedin_120.png");
}

.contacts_info_text {
  font-family: 'Source Code Pro', monospace;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

/*Me page*/
.me_pictures {
  width: 80%;
}

#me_picture0 {
  content: url("/img/profile_pic1.jpg");
  padding-top: 10px;
  padding-bottom: 10px;
}

#me_picture1 {
  content: url("/img/profile_Game_boy.jpg");
  padding-top: 10px;
  padding-bottom: 10px;
}

#me_picture2 {
  content: url("/img/profile_PC.jpg");
  padding-top: 10px;
  padding-bottom: 10px;
}

#me_picture3 {
  content: url("/img/profile_Puzzle_box.jpg");
  padding-top: 10px;
  padding-bottom: 10px;
}

#me_picture4 {
  content: url("/img/profile_Death.jpg");
  padding-top: 10px;
  padding-bottom: 10px;
}

#me_picture5 {
  content: url("/img/profile_neck_lace.jpg");
  padding-top: 10px;
  padding-bottom: 10px;
}

#me_picture6 {
  content: url("/img/profile_archaeopteris.jpg");
  padding-top: 10px;
  padding-bottom: 10px;
}

#me_picture7 {
  content: url("/img/profile_CatCar_bed.jpg");
  padding-top: 10px;
  padding-bottom: 10px;
}

#me_picture8 {
  content: url("/img/profile_Grute.jpg");
  padding-top: 10px;
  padding-bottom: 10px;
}

#me_picture9 {
  content: url("/img/profile_Knife_block.jpg");
  padding-top: 10px;
  padding-bottom: 10px;
}

/*Blog*/
.mainblog {
  margin: auto;
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  width: 60%;
}

.blogpost {
  border-radius: 25px;
  border: 2px solid #393b35;
  padding: 20px;
}
/*# sourceMappingURL=Style.css.map */