  body {
      background-image: url("img/lowrider.jpg");
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

  }
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #494161;
  }

  li {
      float: left;
      border-right:1px solid #494161;
  }

  li:last-child {
      border-right: none;
  }

  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  li a:hover:not(.active) {
      background-color: #111;
  }

  .active {
      background-color: #bf671f;
  }
  p1{
    display: block;
    color: white;
    padding: 5px 50px;
    font-size: 20px;
  }
  p2{
    display: block;
    color: white;
    padding: 25px 50px;
    font-size: 20px;
  }
  img{
      padding: 5px 50px;
      max-width: 300px;
      height: 300px;
  }

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #495466;
  min-width: 200px;
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: inline;
}

.A1button{
    background:url(./img/A1.jpg)center center;
    background-size: cover;
    height: 300px;
    width: 300px;
    padding: 5px 50px;
}

.A2button{
    background:url(./img/A2.jpg)center center;
    background-size: cover;
    height: 300px;
    width: 300px;
    padding: 5px 50px;
}
.A3button{
    background:url(./img/A3.jpg)center center;
    background-size: cover;
    height: 300px;
    width: 300px;
    padding: 5px 50px;
}
.A4button{
    background:url(./img/A4.jpg)center center;
    background-size: cover;
    height: 300px;
    width: 300px;
    padding: 5px 50px;
}

.dropdown-content a {
  color: black;
  padding: 6px 10px;
  text-decoration: none;
  display: block;
}

