<!DOCTYPE html>
<html>
    <head>
        <!-- Stylesheet using root Sass -->
        <!-- Paths are set to navigate from the root -->
        <link rel="stylesheet" href="/CSS/Style.css">

        <!-- icon on tab set to a folder -->
        <!-- Paths are set to navigate from the root -->
        <link rel="icon" type="image/png" href="/img/icon-briefcase-240.png" sizes="128x128" />
    </head>
    <body>
        <header></header>
    
        <!-- Nav bar -->
        <nav> <!-- Note Semantic  -->
            <!-- add class="active" to the active page remove from other -->
            <!-- Paths are set to navigate from the root -->
            <li><a class="active" href="/index.html">Home</a></li>
            <li><a href="/Pages/blogs/blogs.html">Blogs</a></li>
            <li><a href="/Pages/skills/skils.html">Skills</a></li> 
            <li><a href="/Pages/work/work.html">Work</a></li>
            <li><a href="/Pages/my_comtacts/my_contacts.html">My Contact</a></li> 
        </nav>
    
        <article></article>

        <footer></footer>
    </body>
</html>